
.extensionJimmyAjaPopup {
    background: #00000014;
    z-index: 9999999999999999999;

    .extensionCustomModal{
        width: 30%;
        padding: 30px 50px;
        display: none;
        border-radius: 10px;
    }
    .extensionModalHeader{
        margin-bottom: 27px;
        h1{
            font-size: 20px;
            text-align: center;
        }
    }
    .extensionModalBody{

    }
}